<footer>
    <div class="footer-container">
        <!-- Sección izquierda (vacía por ahora) -->
        <div class="footer-left">
            <p>Av. Ejemplo #123, Ciudad, País</p>
        </div>

        <!-- Sección derecha: Logos de redes sociales -->
        <div class="footer-right">
            <a href="https://www.facebook.com/profile.php?id=61572535325419" target="_blank">
                <img src="/images/logofacebook.png" alt="Facebook">
            </a>
            <a href="https://www.linkedin.com/company/erh-consultor%C3%ADa/?viewAsMember=true" target="_blank">
                <img src="/images/logolinkedin.png" alt="Linkedin">
            </a>
            <a href="https://www.instagram.com/erh.consultoria/" target="_blank">
                <img src="/images/logoinstagram.png" alt="Instagram">
            </a>
            <a target="_blank">
                <img src="/images/logocorreo.png" alt="Correo">
            </a>
            <p>chema@erconsultoria.com</p>
        </div>
    </div>
</footer>
