<!DOCTYPE html>
<html lang="es">
<head class = "header">
    <%- include('partials/header') %>
    <title>Soy Empresa</title>
</head>
<body>
    <a href="/"><button>Volver</button></a>
</body>
</html>
